body {
    background-image: url('goldenbook.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#grande {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 15%;
    margin-top: 1%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.753);
    background: rgba(0, 0, 0, 0.479);
}

#title {
    display: flex;
    justify-content: center;
    align-content: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#form {
    padding: 0 20%;
    display: flex;
    align-self: center;
    justify-self: center;
    flex-direction: column;
}

#btn {
    display: flex;
    align-self: center;
    justify-self: center;
}

#messages {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
}

.post {
    padding: 0 3%;
    width: 100vh;
    color: white;
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.753);
}

.livredor-nom { 
    float:left;
    padding: 0px 40px;
}

.livredor-date {
    float:right;
    padding: 0px 40px;
}

.livredor-message { 
    margin:5px 30px;
    clear:both; 
    padding: 0px 40px;
}